
/* Your CSS Code here. */
.holder
{
	display:flex;
	flex-direction:row;
	height:100%;
	width:100%;
	align-items:center;
	background-color:green;
	justify-content:space-evenly;
}
.item
{
     color:white;
	background-color:red;
	width:100px;
	height:50px;
	padding:20px;
	align-items:center;
	text-decoration:underline;
	margin:40px;
	
}